<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>SocialFirebaseLogin</string>
	<key>CFBundleIdentifier</key>
	<string>com.lucifer.SocialLoginXamarin</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>SocialFirebaseLogin</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>GoogleLogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1080550597901-d1t70r40f10leuv3tap67udlq4gdpmrv</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>FacebookLogin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>fb432976588355688</string>
        </array>
      </dict>    
	</array>

  <key>FacebookAppID</key>
  <string>432976588355688</string>
  <key>FacebookDisplayName</key>
  <string>SocialLoginXamarin</string>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>fbapi</string>
    <string>fb-messenger-api</string>
    <string>fbauth2</string>
    <string>fbshareextension</string>
  </array>
  
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
